body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-taylor-swift-kanye-index-1525207390.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  position: fixed;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 1000px;
  padding: 20px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: 500%;
  margin: auto;
  margin-top: 140px;
  margin-bottom: 50px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.739);
  border: 3px solid #af0049;
  border-style: double;
  border-radius: 50px;
}

h2 {
  margin-bottom: 100px;
  font-size: 180%;
  width: 340px;
  padding: 8px;
  border: 3px solid #af0049;
  background-color: rgba(255, 255, 255, 0.739);
  border-style: double;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 50px;
}

.showQuote {
  display: none;
  margin-bottom: 100px;
  font-size: 180%;
  width: 600px;
  padding: 8px;
  border: 3px solid #af0049;
  background-color: rgba(255, 255, 255, 0.739);
  border-style: double;
  border-radius: 50px;
  margin: auto;
}

.showTayAnswer, .showYeAnswer, .yaGoofed {
  display: none;
  margin-top: 50%;
  margin-bottom: 100px;
  font-size: 180%;
  width: 500px;
  padding: 8px;
  border: 3px solid #af0049;
  background-color: rgba(255, 255, 255, 0.739);
  border-style: double;
  border-radius: 50px;
  margin: auto;
}

.yeOrTay, #btnReset {
  display: none;
}

#btn, #btnYe, #btnTay, #btnReset {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #af0049;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(143, 143, 143, 0.849);
}

#btn:hover, #btnYe:hover, #btnTay:hover, #btnReset:hover {background-color: rgb(212, 38, 110)}

#btn:active, #btnYe:active, #btnTay:active, #btnReset:active {
  background-color: rgb(212, 38, 110);
  box-shadow: 0 5px rgba(123, 123, 123, 0.849);
  transform: translateY(4px);
}

